
*.ilk
*.pdb
*.exe
*.opensdf
*.sdf
*.sln
*.suo
*.branches
*.nodes
*.termnodes
*.tlog
*.vtk
*.csv
*.idb
*.log
*.lastbuildstate
*.vcxproj
*.obj
*.filters
*.user
*.pbxproj
*.xcworkspacedata
*.xcworkspacedata
*.plist
*.xcuserstate
*.xcscheme
*.plist
*.xcuserstate
